body {
  background-image: url("../img/bgfon.png"); }

.container {
  max-width: 1001px;
  width: auto;
  min-width: 600px;
  max-height: 1300px;
  height: auto;
  background-image: url("../img/bgpapka.png");
  background-size: 100% 100%;
  padding: 0 0 0 0;
  margin: 15px auto; }
  .container header {
    width: auto;
    height: auto;
    padding: 50px 110px 50px 110px; }
    .container header .logo-title {
      display: flex;
      flex-direction: column; }
      .container header .logo-title .logo {
        width: 77px;
        height: 77px; }
        .container header .logo-title .logo a {
          width: 100%;
          height: 100%; }
          .container header .logo-title .logo a :hover {
            transform: scale(1.1);
            transition: 1.5s; }
      .container header .logo-title .title_delo {
        display: flex;
        justify-content: center; }
        .container header .logo-title .title_delo h1 {
          font-family: 'Russo One', sans-serif;
          font-size: 57px;
          font-weight: 500;
          text-transform: uppercase;
          color: #462656; }
  .container main {
    width: auto;
    height: auto;
    padding: 0 13% 0 10%; }
    .container main .general_information {
      display: flex;
      flex-direction: column; }
      .container main .general_information .gi_block {
        display: flex;
        flex-direction: row;
        margin: 15px 0px; }
        .container main .general_information .gi_block .title_gi {
          font-family: 'Russo One', sans-serif;
          color: #2f1b15;
          font-size: 20px;
          font-weight: 400;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin: 0 10px 0 0; }
        .container main .general_information .gi_block .gi_input {
          width: 100%;
          display: inherit; }
          .container main .general_information .gi_block .gi_input input {
            width: 100%;
            border: none;
            outline: none;
            background: none;
            border-bottom: 2px solid #4c204e;
            padding: 0 0 5px 50px;
            font-size: 25px;
            font-family: 'Playfair Display', serif;
            letter-spacing: 3px; }
          .container main .general_information .gi_block .gi_input input::placeholder {
            color: black; }
    .container main .checkbox_info {
      width: 100%;
      margin: 70px 0 0 0; }
      .container main .checkbox_info .checkbox_title {
        font-family: 'Russo One', sans-serif;
        color: #2f1b15;
        font-size: 20px;
        font-weight: 400; }
      .container main .checkbox_info .checkbox_subtitle {
        color: grey;
        font-size: 15px;
        text-align: justify;
        margin: 15px 0px;
        line-height: 20px; }
      .container main .checkbox_info .checkbox_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "checkbox_block0_skills checkbox_block1_skills checkbox_block2_skills"; }
        .container main .checkbox_info .checkbox_container .checkbox_block0_skills {
          display: inline-grid; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills *, .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills *::before, .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills *::after {
            box-sizing: content-box !important; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input {
            position: absolute;
            z-index: -1;
            opacity: 0; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills span {
            line-height: 1.54;
            font-family: 'Russo One', sans-serif;
            color: black;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: 0.5px; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills {
            display: table;
            position: relative;
            padding-left: 1.8rem;
            cursor: pointer;
            margin-bottom: 1rem; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input[type="checkbox"] ~ .b-input {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.25rem;
            width: 1.25rem;
            background: none;
            transition: background 250ms;
            border: none;
            border-radius: 0.241rem; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input[type="checkbox"] ~ .b-input::after {
            content: '';
            position: absolute;
            display: none;
            left: 0.62rem;
            top: 0rem;
            width: 0.32rem;
            height: 0.89rem;
            border: solid #951595;
            border-width: 0 2px 2px 0;
            transition: background 250ms;
            transform: rotate(45deg); }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input:disabled ~ .b-input::after {
            border-color: #951595; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input:checked ~ .b-input::after {
            display: block; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills:hover input ~ .b-input,
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input:focus ~ .b-input {
            background: #e7eef3; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input:focus ~ .b-input {
            box-shadow: 0 0 0 2px rgba(5, 11, 15, 0.5); }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input:checked ~ .b-input {
            background: rgba(255, 255, 255, 0);
            border-color: #0a0f13; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input[type="checkbox"]:disabled ~ .b-input {
            background: #b9b6b6;
            border-color: #090909;
            opacity: 0.6;
            cursor: not-allowed; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input:checked:focus ~ .b-input, .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills:hover input:not([disabled]):checked ~ .b-input {
            background: rgba(241, 242, 243, 0);
            border-color: rgba(253, 253, 253, 0); }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills .b-input::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 3rem;
            height: 3rem;
            margin-left: -0.85rem;
            margin-top: -0.85rem;
            background: #951595;
            border-radius: 2rem;
            opacity: .6;
            z-index: 99999;
            transform: scale(0); }
@keyframes b-ripple {
  0% {
    transform: scale(0); }
  20% {
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }
@keyframes b-ripple-duplicate {
  0% {
    transform: scale(0); }
  30% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input + .b-input::before {
            animation: b-ripple 250ms ease-out; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input:checked + .b-input::before {
            animation-name: b-ripple-duplicate; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills .b-input::before {
            visibility: hidden; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills input:focus + .b-input::before {
            visibility: visible; }
          .container main .checkbox_info .checkbox_container .checkbox_block0_skills .checkbox_myskills:first-child .b-input::before {
            visibility: hidden; }
        .container main .checkbox_info .checkbox_container .checkbox_block1_skills {
          display: inline-grid; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills *, .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills *::before, .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills *::after {
            box-sizing: content-box !important; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input {
            position: absolute;
            z-index: -1;
            opacity: 0; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills span {
            line-height: 1.54;
            font-family: 'Russo One', sans-serif;
            color: black;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: 0.5px; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills {
            display: table;
            position: relative;
            padding-left: 1.8rem;
            cursor: pointer;
            margin-bottom: 1rem; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input[type="checkbox"] ~ .b-input {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.25rem;
            width: 1.25rem;
            background: none;
            transition: background 250ms;
            border: none;
            border-radius: 0.241rem; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input[type="checkbox"] ~ .b-input::after {
            content: '';
            position: absolute;
            display: none;
            left: 0.62rem;
            top: 0rem;
            width: 0.32rem;
            height: 0.89rem;
            border: solid #951595;
            border-width: 0 2px 2px 0;
            transition: background 250ms;
            transform: rotate(45deg); }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input:disabled ~ .b-input::after {
            border-color: #951595; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input:checked ~ .b-input::after {
            display: block; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills:hover input ~ .b-input,
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input:focus ~ .b-input {
            background: #e7eef3; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input:focus ~ .b-input {
            box-shadow: 0 0 0 2px rgba(5, 11, 15, 0.5); }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input:checked ~ .b-input {
            background: rgba(255, 255, 255, 0);
            border-color: #0a0f13; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input[type="checkbox"]:disabled ~ .b-input {
            background: #b9b6b6;
            border-color: #090909;
            opacity: 0.6;
            cursor: not-allowed; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input:checked:focus ~ .b-input, .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills:hover input:not([disabled]):checked ~ .b-input {
            background: rgba(241, 242, 243, 0);
            border-color: rgba(253, 253, 253, 0); }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills .b-input::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 3rem;
            height: 3rem;
            margin-left: -0.85rem;
            margin-top: -0.85rem;
            background: #951595;
            border-radius: 2rem;
            opacity: .6;
            z-index: 99999;
            transform: scale(0); }
@keyframes b-ripple {
  0% {
    transform: scale(0); }
  20% {
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }
@keyframes b-ripple-duplicate {
  0% {
    transform: scale(0); }
  30% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input + .b-input::before {
            animation: b-ripple 250ms ease-out; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input:checked + .b-input::before {
            animation-name: b-ripple-duplicate; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills .b-input::before {
            visibility: hidden; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills input:focus + .b-input::before {
            visibility: visible; }
          .container main .checkbox_info .checkbox_container .checkbox_block1_skills .checkbox_myskills:first-child .b-input::before {
            visibility: hidden; }
        .container main .checkbox_info .checkbox_container .checkbox_block2_skills {
          display: inline-grid; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills *, .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills *::before, .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills *::after {
            box-sizing: content-box !important; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input {
            position: absolute;
            z-index: -1;
            opacity: 0; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills span {
            line-height: 1.54;
            font-family: 'Russo One', sans-serif;
            color: black;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: 0.5px; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills {
            display: table;
            position: relative;
            padding-left: 1.8rem;
            cursor: pointer;
            margin-bottom: 1rem; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input[type="checkbox"] ~ .b-input {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.25rem;
            width: 1.25rem;
            background: none;
            transition: background 250ms;
            border: none;
            border-radius: 0.241rem; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input[type="checkbox"] ~ .b-input::after {
            content: '';
            position: absolute;
            display: none;
            left: 0.62rem;
            top: 0rem;
            width: 0.32rem;
            height: 0.89rem;
            border: solid #951595;
            border-width: 0 2px 2px 0;
            transition: background 250ms;
            transform: rotate(45deg); }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input:disabled ~ .b-input::after {
            border-color: #951595; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input:checked ~ .b-input::after {
            display: block; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills:hover input ~ .b-input,
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input:focus ~ .b-input {
            background: #e7eef3; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input:focus ~ .b-input {
            box-shadow: 0 0 0 2px rgba(5, 11, 15, 0.5); }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input:checked ~ .b-input {
            background: rgba(255, 255, 255, 0);
            border-color: #0a0f13; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input[type="checkbox"]:disabled ~ .b-input {
            background: #b9b6b6;
            border-color: #090909;
            opacity: 0.6;
            cursor: not-allowed; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input:checked:focus ~ .b-input, .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills:hover input:not([disabled]):checked ~ .b-input {
            background: rgba(241, 242, 243, 0);
            border-color: rgba(253, 253, 253, 0); }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills .b-input::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 3rem;
            height: 3rem;
            margin-left: -0.85rem;
            margin-top: -0.85rem;
            background: #951595;
            border-radius: 2rem;
            opacity: .6;
            z-index: 99999;
            transform: scale(0); }
@keyframes b-ripple {
  0% {
    transform: scale(0); }
  20% {
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }
@keyframes b-ripple-duplicate {
  0% {
    transform: scale(0); }
  30% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input + .b-input::before {
            animation: b-ripple 250ms ease-out; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input:checked + .b-input::before {
            animation-name: b-ripple-duplicate; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills .b-input::before {
            visibility: hidden; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills input:focus + .b-input::before {
            visibility: visible; }
          .container main .checkbox_info .checkbox_container .checkbox_block2_skills .checkbox_myskills:first-child .b-input::before {
            visibility: hidden; }
  .container footer {
    width: auto;
    height: auto; }

@media all and (-ms-high-contrast: none) {
  .checkbox_container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr; }

  .checkbox_block0_skills {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }

  .checkbox_block1_skills {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1; }

  .checkbox_block2_skills {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1; } }

/*# sourceMappingURL=stylepage.css.map */
