$purple: #462656;
$darkpurple: #4c204e;
$darkdarkorange: #2f1b15;
@mixin font {
  font-family: 'Russo One', sans-serif;
  color: $darkdarkorange;
  font-size: 20px;
  font-weight: 400;
}
@mixin font-myskills {
  font-family: 'Russo One', sans-serif;
  color: black;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
@mixin flex-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin flex-col{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex-col-end{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@mixin flex-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@mixin grid {
  display: -ms-inline-grid;
  display: inline-grid;
}
@mixin transformS($value) {
  -webkit-transform: scale($value);
  -ms-transform: scale($value);
  transform: scale($value);
}
@mixin transition($time){
  -webkit-transition: $time;
  -o-transition: $time;
  transition: $time;
}
@mixin checkbox-style{
  .checkbox_myskills *, .checkbox_myskills *::before, .checkbox_myskills *::after {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }

  .checkbox_myskills input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .checkbox_myskills span {
    line-height: 1.54;
    @include font-myskills();
  }
  .checkbox_myskills details summary {
    line-height: 1.54;
    @include font-myskills();
  }

  .checkbox_myskills {
    display: table;
    position: relative;
    padding-left: 1.8rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .checkbox_myskills input[type="checkbox"] ~ .b-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: none;
    -webkit-transition: background 250ms;
    -o-transition: background 250ms;
    transition: background 250ms;
    border: none;
    border-radius: 0.241rem;
  }

  .checkbox_myskills input[type="checkbox"] ~ .b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: 0.62rem;
    top: 0rem;
    width: 0.32rem;
    height: 0.89rem;
    border: solid rgba(149, 21, 149, 1);
    border-width: 0 2px 2px 0;
    -webkit-transition: background 250ms;
    -o-transition: background 250ms;
    transition: background 250ms;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkbox_myskills input:disabled ~ .b-input::after {
    border-color: rgba(149, 21, 149, 1);
  }

  .checkbox_myskills input:checked ~ .b-input::after {
    display: block;
  }

  .checkbox_myskills:hover input ~ .b-input,
  .checkbox_myskills input:focus ~ .b-input {
    background: rgb(231, 238, 243);
  }

  .checkbox_myskills input:focus ~ .b-input {
    -webkit-box-shadow: 0 0 0 2px rgba(5, 11, 15, 0.5);
    box-shadow: 0 0 0 2px rgba(5, 11, 15, 0.5);
  }

  .checkbox_myskills input:checked ~ .b-input {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(10, 15, 19, 1);
  }

  .checkbox_myskills input[type="checkbox"]:disabled ~ .b-input {
    background: rgba(185, 182, 182, 1);
    border-color: rgba(9, 9, 9, 1);
    opacity: 0.6;
    cursor: not-allowed;
  }

  .checkbox_myskills input:checked:focus ~ .b-input, .checkbox_myskills:hover input:not([disabled]):checked ~ .b-input {
    background: rgba(241, 242, 243, 0);
    border-color: rgba(253, 253, 253, 0);
  }

  .checkbox_myskills .b-input::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    margin-left: -0.85rem;
    margin-top: -0.85rem;
    background: rgba(149, 21, 149, 1);
    border-radius: 2rem;
    opacity: .6;
    z-index: 99999;
    @include transformS(0);
  }

  @-webkit-keyframes b-ripple {
    0% {
      @include transformS(0);
    }

    20% {
      @include transformS(1);
    }

    100% {
      opacity: 0;
      @include transformS(1);
    }
  }

  @keyframes b-ripple {
    0% {
      @include transformS(0);
    }

    20% {
      @include transformS(1);
    }

    100% {
      opacity: 0;
      @include transformS(1);
    }
  }

  @-webkit-keyframes b-ripple-duplicate {
    0% {
      @include transformS(0);
    }

    30% {
      @include transformS(1);
    }

    60% {
      @include transformS(1);
    }

    100% {
      opacity: 0;
      @include transformS(1);
    }
  }

  @keyframes b-ripple-duplicate {
    0% {
      @include transformS(0);
    }

    30% {
      @include transformS(1);
    }

    60% {
      @include transformS(1);
    }

    100% {
      opacity: 0;
      @include transformS(1);
    }
  }

  .checkbox_myskills input + .b-input::before {
    -webkit-animation: b-ripple 250ms ease-out;
    animation: b-ripple 250ms ease-out;
  }

  .checkbox_myskills input:checked + .b-input::before {
    -webkit-animation-name: b-ripple-duplicate;
    animation-name: b-ripple-duplicate;
  }

  .checkbox_myskills .b-input::before {
    visibility: hidden;
  }

  .checkbox_myskills input:focus + .b-input::before {
    visibility: visible;
  }

  .checkbox_myskills:first-child .b-input::before {
    visibility: hidden;
  }
}

body {
  background-image: url("../img/bgfon.png");
}

.container {
  max-width: 1001px;
  width: auto;
  min-width: 600px;
  max-height: 1300px;
  height: auto;
  background-image: url("../img/bgpapka.png");
  background-size: 100% 100%;
  padding: 0 0 0 0;
  margin: 15px auto;

  header {
    width: auto;
    height: auto;
    padding: 50px 110px 50px 110px;
    .logo-title {
      @include flex-col();
      .logo {
        width: 77px;
        height: 77px;
        a {
          width: 100%;
          height: 100%;
          :hover {
            @include transformS(1.1);
            @include transition(1.5);
          }
        }
      }
      .title_delo {
        @include flex-center();
        h1 {
          font-family: 'Russo One', sans-serif;
          font-size: 57px;
          font-weight: 500;
          text-transform: uppercase;
          color: $purple;
        }
      }
    }
  }
  main {
    width: auto;
    height: auto;
    padding: 0 13% 0 10%;
    .general_information {
      @include flex-col();
      .gi_block {
        @include flex-row();
        margin: 15px 0px;
        .title_gi {
          @include font();
          @include flex-col-end();
          margin: 0 10px 0 0;

        }
        .gi_input {
          width: 100%;
          display: inherit;
          input {
            width: 100%;
            border: none;
            outline: none;
            background: none;
            border-bottom: 2px solid $darkpurple;
            padding: 0 0 5px 50px;
            font-size: 25px;
            font-family: 'Playfair Display', serif;
            letter-spacing: 3px;
          }
          input::-webkit-input-placeholder {
            color: black;
          }
          input::-moz-placeholder {
            color: black;
          }
          input:-ms-input-placeholder {
            color: black;
          }
          input::-ms-input-placeholder {
            color: black;
          }
          input::placeholder {
            color: black;
          }
        }
      }
    }
    .checkbox_info {
      width: 100%;
      margin: 70px 0 25px 0;

      .checkbox_title {
        @include font();
      }

      .checkbox_subtitle {
        color: grey;
        font-size: 15px;
        text-align: justify;
        margin: 15px 0px;
        line-height: 20px;
      }

      .checkbox_container{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "checkbox_block0_skills checkbox_block1_skills checkbox_block2_skills";

        .checkbox_block0_skills {
          @include grid();
          @include checkbox-style();
        }
        .checkbox_block1_skills {
          @include grid();
          @include checkbox-style();
        }
        .checkbox_block2_skills {
          @include grid();
          @include checkbox-style();
        }
      }
    }
    .js_level_slider {
      padding: 0 0 30px 0;
      .js_slider_title {
        margin: 15px 0 30px 0;
        @include font();
      }
    }
  }
  footer {
    width: auto;
    height: auto;
    padding: 100px 13% 100px 10%;
    .gi_block {
      @include flex-row();
      margin: 15px 0px;
      .title_gi {
        @include font();
        @include flex-col-end();
        margin: 0 10px 0 0;

      }
      .gi_input {
        width: 100%;
        display: inherit;
        input {
          width: 100%;
          border: none;
          outline: none;
          background: none;
          border-bottom: 2px solid $darkpurple;
          padding: 0 0 5px 50px;
          font-size: 25px;
          font-family: 'Playfair Display', serif;
          letter-spacing: 3px;
        }
        input[type="date"] {
          color: black;
        }
      }
    }
  }
}

@media all and (-ms-high-contrast:none) {
  .checkbox_container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
  }

  .checkbox_block0_skills {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .checkbox_block1_skills {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .checkbox_block2_skills {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }

}